html{
    background-color: black;/*背景色の色を黒にする*/
}
* {
    box-sizing      : border-box;
}
header {
    padding         : 30px 4% 10px;/*余白を 上:30px のパディング  左と右: 4% のパディング 下:10px のパディング */
    position        : fixed;
    top             : 0;
    width           : 100%;
    display         : flex;
    align-items     : center;
    background-color: goldenrod;
}
body{
    padding-top     : 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    color           : white;/*フォントの色を白にする*/
}

h1 {
    margin          : 0; padding: 0;
    font-size       : 20px;
}
a {	
    text-decoration : none;
    color           : white;
}
nav {
    margin          : 0 0 0 auto;
}
ul {
    list-style      : none;
    margin          : 0;
    display         : flex;
}
li {
    margin          : 0 0 0 15px;
    font-size       : 14px;
    /*https://jajaaan.co.jp/css/css-headline/*/
}

footer {
    width           : 100%;
    height          : 120px; 
    text-align      : center;
    padding         : 50px 0;
    background-color: #cab64a;
  }
  .footer-text {
    color           : #fff;
  }