div{
    font-size               : x-large;
}

.shopname{
    font-family             : 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
    font-size               : 50px;
    margin                  : auto;
    width                   : 500px;
    border-bottom           : 6px double white;
    background-image        : -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    background-image        : linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;

}

.g_name{
    margin                  : auto;
    width                   : 500px;
    border-bottom           : 6px double white;
}

.g_detail{
    margin                  : auto;
    width                   : 500px;
    border-bottom           : 6px double red;  
}

.price{
    margin                  : auto;
    width                   : 500px;
    border-bottom           : 6px double white;
}

.arerugen{
    margin                  : auto;
    width                   : 500px;
    border-bottom           : 6px double white;
}

.select{
    font-size               : medium;
    padding                 : 10px 30px;
    background-color        :yellow;
    margin                  :20px;
    text-align              : center;

}

input{
    min-width               : 200px;/*最小幅を設定*/
    max-width               : 600px;/*最大幅を設定*/
    color                   : white;/*フォントの色を白にする*/
    background-color        : #eb6100;/*背景色を変更する*/
    width                   : 300px;
    padding                 : 10px;
}